/*Diseño general de la página*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
  font-family: 'Poppins', sans-serif;  
}

.contenido{
  max-width: 1200px;
  margin: 0 auto;
}

/* Diseño del encabezado de la página */

.header{
  background-image: linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
  ), url(fondoAtras.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-items: center;
}


.header2{
  text-align: center;
}

.header2 h1{
  font-size: 75px;
  line-height: 80px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 35px;
}

/* Diseño del formulario registrar la nota*/

form {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
}

input {
  margin-bottom: 10px;
  padding: 15px; 
  width: calc(100% - 30px); 
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.txtCaja {
  width: 100%;
  color: black;
}

.guardarN {
  display: block;
  width: calc(100% - 30px);
  padding: 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(to right, #8d6e63, #8d6e63);
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.guardarN:hover {
  background: linear-gradient(to right, #654321, #CDBA96);
}

/* Diseño para el píe de página */

.footer{
  padding: 100px 0;
  background-color: #8d6e63;

}

.footer2{
  display: flex;
  justify-content: space-between;
}

.finalP h3{
  font-size: 18px;
  color: white;
  margin-bottom: 15px;
}

.finalP a{
  font-size: 16px;
  color: white;
  display: block;
  margin-bottom: 15px;
}



/* Parte responsiva */
@media (max-width: 991px) {
  .menu {
      padding: 30px;
  }

  .menu .barraN {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: block;
  }

  .menu .barraN ul li {
      width: 100%;
  }

  #menu:checked~.barraN {
      display: none;
  }

  .header {
      min-height: 0vh;
  }

  .header2 {
      padding: 30px;
  }

 
  input,
  .guardarN {
      width: 100%;
      margin-right: 0; 
  }

  .footer{
    padding: 30px;  
  }
  
  .footer2{
    flex-direction: column;
    text-align: center;
  }
}
